<script type="text/javascript">
$(function () {
    var tagsAsString;

    function loadSelect2(allTags) {
        $("#{{ widget_id }}").select2({
            tags: allTags,
            placeholder: '{{ start_text }}',
            minimumInputLength: 3,
            initSelection: function (element, callback) {
                // Loads the tags from the hidden input field
                var data = [];
                var $input = $('#{{ result_id }}');
                $($input.val().split(", ")).each(function () {
                    data.push({id: this, text: this});
                });
                callback(data);
            },
            formatInputTooShort: function (term, minLength) {
                return "{{ prompt_text }}";
            },
            formatResult: function (object, container, query) {
                // Returns the display of the result in the dropdown
                if (object.name)
                    return object.name;
                else
                    return object.text;
            },
            formatSelection: function (object, container) {
                // Returns the display of the selected tag in the field
                if (object.name)
                    return object.name;
                else
                    return object.text;
            },
            createSearchChoice: function(term, data) {
                // Creates a tag if it isn't selected already or doesn't exist
                if (data.length !== 0) {
                    var matched = $(data).filter(function() {
                        var hasName = this.name !== undefined,
                            tag = hasName ? this.name : this.text;
                        tag = tag.toLowerCase()
                        return tag.localeCompare(term.toLowerCase()) === 0;
                    });
                    if (matched.length === 0) {
                        return {id: term, text: term};
                    }
                    else // return the first matched item
                        return matched[0];
                } // check to see whether the tag might be selected already
                else {
                    var selected = $('#{{ widget_id }}').select2('val');
                    var matched = $(selected).filter(function () {
                        var tag = this.toLowerCase()
                        return tag.localeCompare(term.toLowerCase()) === 0;
                    });
                    if (matched.length === 0)
                        return {id: term, text: term};
                }
            },
            tokenSeparators: [',', ]
        });
    }

    $.get('{{ url }}', function (data) {
        loadSelect2(data);
    });

    $('#{{ result_id }}').parents().find('form').submit(function (){
        var tagList = $("#{{ widget_id }}").select2('val');
        tagsAsString = tagList.join(", ");
        $("#{{ result_id }}").val(tagsAsString);
        $("#{{ widget_id }}").val(tagsAsString);
    });
});
</script>